.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    margin-top: 50px;
}

.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #eeee;
    flex-direction: column;
}

.divider {
    width: 200%;
    padding: 0.3px;
    background-color: #2e08d8ee;
}