.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    margin-top: 50px;
}

.tabela {
    gap: 25px;
    background-color: #eeee;
    flex-direction: column;
}

.task{
    padding: 10px;
}

.task-single{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-delete{
    cursor: pointer;
}